// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// General rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: purple;
    width: 70%;
    margin: 0 auto;
    color: #fff;
}

// Componente Postcards
div.container-postcards {
    width: 100%;

    table {
        width: auto;
        margin: 0 auto;
    }
    
    th {
        text-align: center;

        &:first-child {
            width: 15%;
        }

        &:nth-child(2) {
            width: 25%;
        }

        &:nth-child(3) {
            width: 40%;
        }

        &:nth-child(4) {
            width: 20%;
        }
    }

    th, td {
        padding: 10px;

        img {
            max-width: 40%;
        }

        div {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    td:nth-child(4) {
        text-align: center;
    }
}

// Page Home
h2.container-create {
    text-align: center;
    margin: 10px 0;

    a {
        color: aqua;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

// Page Create-postcard
div.container-page-create-postcard {
    width: 100%;

    h2 {
        text-align: center;
        margin: 10px 0;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        text-align: center;

        label {
            font-size: 20px;
            color: gold;
        }

        input {
            width: 35%;
            margin: 0 auto 10px;

            &.btn.btn-primary {
                max-width: 100px;
                margin-top: 10px;
            }
        }
    }
}

// Header - Footer
header, footer {
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
}